DATABASE_URL="postgresql://<username>:<password>@localhost:5432/<database>?schema=public"
AUTH_PIN_HASH=""
AUTH_SESSION_SECRET="replace-with-a-random-secret-of-at-least-32-characters"
TZ="America/Argentina/Buenos_Aires"
